:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica-neu", sans-serif;
  font-weight: 100;
  font-size: 35px;
}

h2 {
  margin: 10px 0;
}

.h2 {
  color: var(--base);
}

.controls {
  margin-top: 20px;
  margin-bottom: 50px;
}

input {
  width: 100px;
}
