body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: #fbe3e8;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-left: 2rem;
    margin-top: 5rem;
    text-shadow: 0 0 1px black;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

ul {
    position: relative;
    display: flex;
    transform: rotate(-25deg) skew(25deg);
} 

ul li {
    position: relative;
    list-style: none;
    width: 95px;
    height: 85px;
    margin: 0px 20px;
}

ul li:before{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 0px;
    width: 100%;
    height: 20px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}
ul li:after{
    content: '';
    position: absolute;
    top: 0px;
    left: -18px;
    width: 18px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}
ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

ul li:hover span {
    z-index: 1000;
    transition: .3s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

ul li:hover span:nth-child(5){
    transform: translate(48px, -48px);
    opacity: 1;
}

ul li:hover span:nth-child(4){
    transform: translate(36px, -36px);
    opacity: .8;
}

ul li:hover span:nth-child(3){
    transform: translate(24px, -24px);
    opacity: .6;
}

ul li:hover span:nth-child(2){
    transform: translate(12px, -12px);
    opacity: .4;
}

ul li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: .2;
}